
body {
    padding-top: 50px;
    background: #CACACA;
    overflow-x: hidden;
}

.img-vote {
    width: 150px;
    height: 150px;
}

.thumbnail {
    box-shadow: 1px 1px 1px black;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;
}

.thumbnail:hover {
    background: #eee;
}

.vote-block {
    margin: 50px 0;
}

.vote-block p {
    padding: 10px 0;
}

.vote-block .btn {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.jumbotron {
    box-shadow: 1px 1px 1px #000;
}

.jumbotron h1 {
    color: #45AABD;
    font-family: cursive;
}

.wrap-icons {
    text-align: center;
}

.wrap-icons .fa:hover {
    color: #638399;
}

.fa-heart {
    font-size: 20em;
    color: #FF7676;
}

.fa-thumbs-down {
    font-size: 20em;
    color: #A57676;
}

.numVotes {
    font-size: 4em;
    color: rgb(92, 38, 38);
    text-shadow: 1px 4px 3px #fff;
}

.numVotesWrapper {
    text-align: center;
}

.numVotesWrapper p {
    font-size: 2.5em;
}

.headerp {
    margin-top: 20px;
}

.help-block {
    color: red;
    font-size: 18px;
}

.link {
    color: #0B4D81;
    font-size: 1.5em;
}

.good {
    color: green !important;
}

.bad {
    color: red;
}