<div class="jumbotron wow slideInDown" data-wow-duration="2s">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 style="max-width: 800px;">{{poll.question}}</h2>
            </div>
            <div class="col-sm-6">
                <img onerror="this.src='img/vote.jpg';" src="/img/polls/{{poll._id}}.jpg" alt="vote" class="img-responsive item-image">
            </div>
        </div>
    </div>
</div>
<div ng-hide="poll.userVoted">
    <div class="row wrap-icons">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <a class="wow bounceInRight" data-wow-duration="2s" href="" vote-icon good-val="true" vote-type="{{goodVoteId}}"><i class="fa fa-heart"></i></a>
            </div>
            <div class="col-sm-6">
                <a class="wow bounceInLeft" data-wow-duration="2s" href="" vote-icon vote-type="{{badVoteId}}"><i class="fa fa-thumbs-down"></i></a>
            </div>
        </div>
    </div>
    <p><hr></p>
</div>
<div>
<div class="row numVotesWrapper">
     <p><em><span class="numVotes wow flipInX" data-wow-delay="0.5s">{{poll.totalVotes}}</span> votes counted so far. <span ng-show="poll.userChoice">
</div>
    <div class="row" show-poll>
        <div class="col-sm-12">
                <div class="good"></div>
        </div>
    </div>
    <div class="row numVotesWrapper" style="margin-top:50px;">
        <div class="col-sm-6 col-sm-push-3"><h3>You voted for <strong class="bad" ng-class="{good: goodBad()}">{{poll.userChoice.text}}</strong>.</span></em>
            </h3>
        </div>
    </div>
    <p><hr></p>
    <p>
    <a href="#/polls" class="btn btn-success" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Poll List
    </a>
    </p>
</div>
<script>
new WOW().init();
</script>