<div class="jumbotron wow slideInDown" data-wow-duration="2s">
    <div class="container">
        <h1 style="max-width: 800px;">{{poll.question}}</h1>
    </div>
</div>
<div ng-hide="poll.userVoted">
    <div class="row wrap-icons">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <a class="wow bounceInRight" data-wow-duration="2s" href="" vote-icon good-val="true" vote-type="{{goodVoteId}}"><i class="fa fa-heart"></i></a>
            </div>
            <div class="col-sm-6">
                <a class="wow bounceInLeft" data-wow-duration="2s" href="" vote-icon vote-type="{{badVoteId}}"><i class="fa fa-thumbs-down"></i></a>
            </div>
        </div>
    </div>
    <p><hr></p>
</div>
<div>
    <div class="row" show-poll>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="good" style="height: 200px;"></div>
            </div>
            <div class="col-sm-6">
                <div class="bad" style="height: 200px;"></div>
            </div>
        </div>
    </div>
    <div class="row numVotesWrapper">
        <div class="col-sm-6 col-sm-push-3">
            <p><em><span class="numVotes wow flipInX" data-wow-delay="0.5s">{{poll.totalVotes}}</span> votes counted so far. <span ng-show="poll.userChoice">You voted for <strong class="bad" ng-class="{good: goodBad()}">{{poll.userChoice.text}}</strong>.</span></em>
            </p>
        </div>
    </div>
    <p><hr></p>
    <p>
    <a href="#/polls" class="btn btn-success" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Poll List
    </a>
    </p>
</div>
<script>
new WOW().init();
</script>